body {
    background-color: #f4f4f4;
}

#principal {
    margin: 0 auto;
    width: 780px;
    border: 1px solid brown;
}

.noticia {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 240px;
    color: white;
    background-color: #45576d;
}

.noticia h1 {
    font-size: 24px;
}

.noticia-completa {
    padding: 10px;
}

.imagem-galeria {
    float: left;
    padding: 5px;
    width: 250px;
    background-color: white;
}

.imagem-galeria img {
    width: 100%;
}

.clear-both {
    clear: both;
}